/* ======================= */
/* BASIC SETUP */
/* ======================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}
/* ======================= */
/* HEADING DESIGN */
/* ======================= */
h1{
   font-size: 3.2rem;
   color: #fff; 
}
ul li{
    list-style-type: none;
}
/* ======================= */
/* REUSEABLE COMPONENTS */
/* ======================= */
/* BUTTON */
.btn:link,
.btn:visited,
.btn{
    color: #fff;
    border-bottom: .3rem solid #000;
    background: #333;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
}
.row{
    max-width: 114rem;
    margin: 0 auto;
}
section{
    padding: 8rem 0rem;
}
h2{
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
h2::after{
    content: "";
    display: block;
    width: 8.5rem;
    height: .4rem;
    margin: auto;
    margin-top: 1.5rem;
    
}
h3{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}
.box{
    padding: 1%;
}
.box p{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #fff;
}
/* LITTLE DESCRIPTION -PRAGRAPH */
.little-description{
    font-size: 1.7rem;
    width: 60%;
    margin-left: 20%;
    line-height: 2.5rem;
}
/* ======================= */
/* HEADER SECTION */
/* ======================= */
header{
    background: linear-gradient(rgba(135, 80, 156, .8),rgba(135, 80, 156, .8)), url(img/architecture-bridge-california-1141853.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 85vh;
    position: relative;
    background-attachment: fixed;
}
.logo{
    width: auto;
    height: 3.5rem;
    margin-top: 3.5rem;
    float: left;
}
/* ======================= */
/* NAVIGATION SECTION */
/* ======================= */
.main-nav{
    float: right;
    margin-top: 4rem;
}
.main-nav li{
    display: inline-block;
    margin-left: 1rem;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    padding: .4rem 1.6rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .5s;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: rgba(100, 58, 121, 1);
}
.main-nav li.active a{
    background: rgba(100, 58, 121, 1);
    border-radius: .3rem;
}
.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn-hero:link,
.btn-hero:visited{
    background: #eb7d4b;
    border-color: #c86a40;
}
/* STICKY NAVIGATION */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135, 80, 156, 0.9);
    padding: 1rem 0;
    box-shadow: 0 .2rem .5rem rgba(255,255,255,.9);
}
.sticky .logo,
.sticky .main-nav{
    margin-top: .3rem;
}
/* ======================================== */
/* SERVICES SECTION DESIGN */
/* ======================================== */
.services-section{
    color: #fff;
    text-align: center;
    background: linear-gradient(rgba(23, 194, 164, .8),rgba(23, 194, 164, .8)), url(img/apple-blur-branch-257840.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.services-section h2::after{
    background: #14a58c;
}
.services-icon {
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}
/* ======================================== */
/* TEAM SECTION DESIGN */
/* ======================================== */
.team-section{
    background: #e7f1f8;
    text-align: center;
    background: linear-gradient(rgba(231, 241, 248, .9),rgba(231, 241, 248, .8)), url(img/connection-contemporary-data-450035.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
.team-section h2{
    color: #3c4761;
}
.team-section h2::after{
    background: #c8d9e5;
}
.team-member{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}
.team-section h3{
    color: #27283d;
}
.role{
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: .5rem;
    display: inline-block;
}
.team-section .box p{
    color: #3c4761;
}
.social-link{
    margin-top: 3.5rem;
}
.social-link ul li{
    display: inline-block;
    margin: 0 .5rem;
}
.social-link ul li a{
    color: #fff;
}
.social-link ul li a:link i::before{
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    border-radius: 50%;
    display: inline-block;
    padding: 1rem;
    background: #7babcd;
    transition: .5s;
}
.social-link ul li a:hover i::before{
    transform: rotate(360deg);
    background: #393939;
}
/* ======================================== */
/* SKILL SECTION DESIGN */
/* ======================================== */
.skill-section{
    background: #fff;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, .9),rgba(255, 255, 255, .9)), url(img/blank-composition-data-373076.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.skill-section h2,
.skill-section h3,
.skill-section p{
    color: #3c4761;
}
.skill-section h2::after{
    background: #dfe8ed;
}
.skill-section .box{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}
svg.radial-progress circle{
    stroke-width: 5;
}
svg.radial-progress text{
    fill: #3c4761;
    font-size: 1.5rem;
}
svg.web-design circle{
    stroke: #30bae7;
}

svg.uid circle{
    stroke: #d74680;
}

svg.java circle{
    stroke: #15c7a8;
}

svg.php circle{
    stroke: #eb7d4b;
}
/* ======================================== */
/* PORTFOLIO SECTION DESIGN */
/* ======================================== */
.portfolio-section{
    background: linear-gradient(rgba(255, 221, 153, 0.9),rgba(255, 221, 153, 0.9)), url(img/bracelet-coffee-beans-computer-keyboard-1419929.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.portfolio-section h2{
    color: #393939;
}
.portfolio-section h2::after{
    background: #e5c37f;
}
.portfolio-filter{
    margin: 3.5rem 0;
}
.portfolio-filter button{
    background: #ebc985;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #393939;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow: inset 0 .3rem .5rem #393939;
}
.portfolio-image{
    width: 100%;
    height: 30rem;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}
.portfolio-section .btn-load-more{
    background: #17c2a4;
    border-color: #14a58c;
}
.portfolio-section .mixitup-control-active{
    background: #fff;
}
/* ======================================== */
/* TESTMONIAL SECTION DESIGN */
/* ======================================== */
.testimonial{
    background: linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)), url(img/action-adventure-blur-386009.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.testimonial .litle-description{
    text-align: center;
    color: #fff;
}
.testimonial .col:nth-child(3){
    margin-left: 0;
}
.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){
    margin-top: 4.5rem;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
    margin-top: 3.5rem;
}
.clint-photo{
    width: 10rem;
    float: left;
}
.clint-photo img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.clint-review{
    width: 35rem;
    float: left;
}
.clint-review p{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
.clint-review .role{
    color: #ffdd99;
}
/* ======================================== */
/* CONTACT SECTION DESIGN */
/* ======================================== */
.contact-section{
    background: linear-gradient(rgba(60, 84, 153, 0.9),rgba(60, 84, 153, 0.9)), url(img/architectural-design-architecture-buildings-374811.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.contact-section .little-description{
    color: #fff;
}
.contact-section h2::after{
    background: #273a71;
}
.contact-section form{
    margin-top: 4.5rem;
    width: 70%;
    margin-left: 15%;
}
.contact-section form input[type="text"],
.contact-section form input[type="email"],
.contact-section form textarea{
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.8rem;
    margin: .5rem 0;
}
.contact-section form textarea{
    height: 20rem;
    resize: none;
}
.contact-section form ::placeholder{
    color: #fff;
    opacity: 1;
}
.btn-submit{
    border: 0;
    background: #30bae7;
    border-bottom: 3px solid #299ec5;
}
.btn-submit:hover{
    cursor: pointer;
}
/* ======================================== */
/* FOOTER SECTION DESIGN */
/* ======================================== */
.footer-section{
    background: #344b8e;
    padding: 3rem;
    text-align: center;
    border-top: .1rem solid rgba(255, 255, 255, 0.3);
 }
.footer-section li{
    display: inline-block;
    margin: 0 2rem;
}
.footer-section li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.2rem;
}
.footer-section li:hover a{
    color: #319bcc;
    text-decoration: underline;
}